@mixin middle {
  &__middle {
    width: 50%;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;

    padding-right: spacing('medium');

    @media (max-width: 720px) {
      width: 85%;
      align-items: center;
      padding: spacing('medium');
    }

    &-website-text {
      z-index: 1;
      padding: 2px;
    }

    &-photo {
      position: relative;
      width: 100%;
      height: auto;
      max-width: 90%;

      @media (max-width: 720px) {
        max-width: 100%;
      }
    }

    &-photo-volet {
      position: absolute;
      top: 0;
      left: 0;
      // fix bug with flex-end
      width: calc(100% - 1px);
      height: 100%;
    }

    &-photo img {
      max-width: 100%;
      height: auto;
      border: 2px solid $black;
    }

/*******************************
* BUTTON SEE WEBSITE
********************************/

    &-website {
      position: absolute;
      bottom: spacing('large');
      width: 20%;
      height: 10vh;
      font-family: $maison_mono;
      color: $white;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid black;
      margin: 2px;
      cursor: pointer;
      transition: .5s ease;
      text-decoration: none;

      &:hover {
        transition: .5s ease;
        color: $black;
      }

      @media (max-width: 720px) {
        width: 50%;
        position: relative;
        bottom: 0;
        align-self: flex-end;
        margin: spacing('small');
        margin-right: 0;
        padding: spacing('medium');
      }
    }

    &-website-volet {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}