@mixin right {
  &__right {
    width: 10%;
    height: 100%;

    display: flex;
    flex-flow: column;

    @media (max-width: 720px) {
      position: absolute;
      right: 0;
      width: 15%;
    }

/*******************************
* REFACTOR WITH CSS VAR FOR ANIMATING
********************************/
    &-nav {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      font-size: font-size('subtitle');
      font-family: $maison_mono;
      text-align: center;
      cursor: pointer;

      border-left: 2px solid black;
      border-bottom: 2px solid black;
      transition: .5s ease;

      @media (min-width: 1024px) {
        &:hover {
          transition: .5s ease;
          background-color: $black;
          color: $white;
        }
      }

      @media (max-width: 720px) {
        width: 100%;
        border-right: 2px solid black;
        z-index: 5;
      }
    }

    &-nav-title {
      @media (max-width: 720px) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &-nav a {
      padding: 10px 10px 10px 10px;
      width: 80%;
      line-height: 1.1;
      text-decoration: none;
      color: $black;
      cursor: pointer;

      &:hover {
        color: $white;
        transition: 0.5s ease;
      }
    }

    &-nav h3 {
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      letter-spacing: .5rem;
    }

/*******************************
* ABOUT
********************************/

    &-about {
      height: 10%;
      width: 100%;
      transition: .5s ease;
      z-index: 10;
    }

    &-about h3 {
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      cursor: pointer;

      @media (max-width: 720px) {
        font-size: font-size('small');
      }
    }

    &-about-social {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: spacing('small');

      @media (max-width: 720px) {
        width: 90%;
      }
    }

    &-about-social a {
      max-width: 32px;
      width: 100%;
      transition: .5s ease;

      @media (min-width: 1024px) {
        &:hover svg path {
          fill: $white;
        }
      }
    }

    &-about-social a svg path {
      transition: .5s ease;
      fill: $black;
    }

    &-title{
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 10;
      cursor: pointer;
      transition: .5s ease;

      border: 2px solid $black;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 1024px) {
        &:hover {
          transition: .5s ease;
          background: $black;
          color: $white;
        }
      }
    }


/*******************************
* CONTENT ABOUT
********************************/

&-about-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  z-index: 5;

  @media (max-width: 720px) {
    left: -85vw;
  }
}

&-about-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

&-about-text {
  max-width: 50%;
  color: $black;
  font-size: font-size('subtitle');
  font-family: $maison_mono;
  line-height: 1.3;
  margin: spacing('small');

  @media (max-width: 720px) {
    max-width: 90%;
    font-size: font-size('regular');
  }
}

&-about-text p {
  text-align: center;
  padding: spacing('small');
}

&-about-text a {
  text-decoration: none;
  color: $black;
  transition: .5s ease;

  &:hover {
    transition: .5s ease;
    color: $white;
  }
}

&-about-made {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: spacing('small');

  display: flex;
  justify-content: space-around;

  color: $black;
  font-size: font-size('subtitle');
  font-family: $maison_mono;

  @media (max-width: 720px) {
    font-size: font-size('regular');
    text-align: center;
  }
}

&-about-made svg {
  max-width: 32px;
}

&-about-made:last-child {
  display: flex;
}

&-about-made a {
  text-decoration: none;
  color: $black;
  transition: .5s ease;
  border-bottom: 1px solid $black;

  &:hover {
    transition: .5s ease;
    color: $white;
    border-bottom: 1px solid $white;
  }
}

/*******************************
* MENU
********************************/

    &-menu {
      display: flex;
      width: 100%;
      height: 90%;
    }

    &-menu-content {
      position: absolute;
      width: 100vw;
      height: 100vh;
      bottom: 0;
      right: 10%;

      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      z-index: 2;

      @media (max-width: 720px) {
        right: 0;
      }
    }

    &-menu-current-path {
      position: absolute;
      transition: width .5s ease;
      position: absolute;
      width: 100%;
      height: 1px;
      background: $white;
      bottom: 0;
      left: 0;
    }

    &-menu-content a {
      position: relative;
      color: $white;
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      line-height: 1.3;
      text-decoration: none;
      padding: spacing('small');
      transition: width .5s ease;

      // Disable hover on tablet and mobile
      @media (min-width: 1024px) {
        &:before {
          content: '';
          transition: width .5s ease;
          position: absolute;
          width: 0;
          height: 1px;
          background: $white;
          bottom: 0;
          left: 0;
        }
  
        &:hover {
          transition: width .5s ease;
          &:before {
            content: '';
            transition: width .5s ease;
            position: absolute;
            width: 100%;
            height: 1px;
            background: $white;
            bottom: 0;
            left: 0;
          }
        }
      }
    }

/*******************************
* SWITCH PROJECT
********************************/

    &-next-volet {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &-next-project {
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      border: 2px solid black;
      border-top: none;

      text-decoration: none;
      color: black;

      &:hover .container__right-next-text {
        opacity: 1;
      }

      &:hover .container__right-next-arrow {
        animation: none;
        opacity: 1;
      }

      @media (max-width: 720px) {
        display: none;
      }
    }

    &-next-icon {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: .5s ease;
    }

    &-next-arrow {
      position: relative;
      width: 50%;
      height: 100%;
      &:before {
        content: '';
        position: absolute;
        // handle the letter spacing for the next text
        top: calc(50% - 8px);
        transform: translateY(-50%);
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 20px;
        border-color: transparent transparent transparent $black;
        animation: blink 2s ease infinite;
      }
    }

    &-next-text {
      width: 50%;
      padding-left: 25%;
      opacity: 0;
      transition: .5s ease;
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: font-size('subtitle');
      font-family: $maison_mono;
      letter-spacing: .5rem;
    }
  }
}