///
/// Application-wide font-size map
///
/// @type Map
///
/// @prop {String} key - Font size identifier
/// @prop {Map} value - font-size value
///
$font-sizes: (
  'small': 12px,
  'regular': 14px,
  'subtitle': 16px,
  'sublarge': 40px,
  'large': 48px,
  'title': 64px
);

$font-weight: (
  'regular': 300,
  'bold': bold,
  'title': 900
);

$line-heights: (
  'button': 17px
);